<section>
  <main class="task spacing">
    <mat-checkbox [id]="item.description" type="checkbox" color="primary" />
    <label [for]="item.description">{{ item.description }}</label>

    <div *ngIf="!editable">
      <button
        id="edit"
        mat-raised-button
        color="primary"
        (click)="editable = !editable"
      >
        Edit
      </button>
      <button id="remove" mat-raised-button (click)="remove.emit(item)">
        Remove
      </button>
    </div>
  </main>

  <div *ngIf="editable" class="task spacing">
    <input
      matInput
      #newDescription
      [value]="item.description"
      (keyup.enter)="saveItem(newDescription.value); editable = !editable"
    />
    <button
      id="update"
      *ngIf="editable"
      mat-raised-button
      color="primary"
      (click)="saveItem(newDescription.value); editable = !editable"
    >
      Update
    </button>
    <button
      id="cancel"
      *ngIf="editable"
      mat-raised-button
      color="warn"
      (click)="editable = !editable"
    >
      Cancel
    </button>
  </div>
</section>
