/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
  width: 20px;
}

.center-parent {
  display: flex;
  flex-direction: column;
}
.center-child {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.input {
  width: 300px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
  font-weight: 300;
}
